<%= form_for(@sproject) do |f| %>
  <% if @sproject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sproject.errors.count, "error") %> prohibited this sproject from being saved:</h2>

      <ul>
      <% @sproject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :mode %><br>
    <%= f.number_field :mode %>
  </div>
  <div class="field">
    <%= f.label :completed_on %><br>
    <%= f.date_select :completed_on %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
