<div class="col-xs-12">
<p id="notice"><%= notice %></p>

<% @quiz.questions.each do |question| %>
	<div class="question panel panel-default">
		<div class ="panel-heading">
		<%= image_tag question.image.url %>
		<p>Q: <%= question.content %><p>
		</div>
		<div class="options row panel-body">
			<p> Your answer was: <%= question.options.find(@answers["#{question.id}"]).content%></p>
			<p> The correct answer is: <%= question.correct_option.content%></p>
			<% if question.correct_option.description %>
				<p> Explanation: <%= question.correct_option.description %></p>
			<% end %>
		</div>
	</div>
<% end %>

<%= link_to "Back to Profile", student_path(current_user.student), class: "btn btn-lg btn-default" %>

</div>