<%= form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h2>

      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
   <div class="field">
    <%= f.label :about %><br>
    <%= f.text_area :about %>
  </div>
   <div class="field">
    <%= f.label :name %><br>
    <%= f.select :subject_id, Subject.all.collect {|p| (p.id != @subject.id )? [ p.name, p.id ] : '' }.push(['None','']), {}, { :class => 'form-control' } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
