<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  
  <div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav">
      <li><%= link_to "Home", student_path(current_user.student.id) %></li>
      <li><%= link_to "Subjects",subjects_path %></li>
      <li><%= link_to "Projects",sprojects_path %></li>
      <li><%= link_to "Topics",topics_path %></li>
      </ul>
      <!-- <ul class="nav navbar-nav">
      <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Link</b></a></li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sub Menu <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/accounts">Sub Menu Link</a></li>
        </ul>
      </li>

    </ul> -->

    <ul class="nav navbar-nav navbar-right">
      <li><p class="navbar-text">Me</p></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= session[:name] %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
         
          <li class="divider"></li>
          <li><%= link_to 'Logout', log_out_path %></li>
        </ul>
      </li>
    </ul>

  </div>
</nav>


<div class="row">
	<%= yield %>
</div>
</div>

</body>
</html>
